<footer>
    <div class="footerList" >
        <span>医疗数据系统:</span>
            <span><a href="#/app/mkdisease">医疗百科</a> </span><span>|</span>
            <span><a href="#/app/mktraditionalSyndrome">中医</a></span><span>|</span>
            <span><a href="#/app/knowledgeGraph">医疗知识图谱</a></span><span>|</span>
            <span><a href="#/app/patientClinicalPathway">医生决策支持</a></span><span>|</span>
        <span><a href="#/app/AdvReaction_1">不良反应查询</a></span><span>|</span>
            <span><a href="#/app/clinicPath">临床路径应用</a></span>
    </div>
    <div>copyright© 2016 医疗大数据小组<span>|</span>天地网实验室</div>
</footer>

<script>
    $(document).ready(function () {
        $(".footerList").click(function () {
            window.scrollTo(0, 0);
            console.log("ready");
        })
    });
</script>
