<div class="modal fade" id="medicalKnowledgeModal" tabindex="-1" role="dialog"
     aria-labelledby="medicalKnowledgeModal" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2  style="color: #3c8dbc; text-align:center " class="modal-title bigtitle" id="myModalLabel">
                    {{modal.title}}
                    <nobr ng-if="!!modal.pdf"> ( <a href="http://1.85.37.136:9999/medknowledge/pdfop/?q={%22Table%22:%22Pdf%22,%22Pid%22:%22{{modal.pdf}}%22}">
                        <img src="assets/img/medicalKnowledge/pdf.png" title="点击下载">)</a>
                    </nobr>
                    <nobr ng-if="!!modal.video"> ( <a href="http://1.85.37.136:9999/medknowledge/videoop/?q={%22Table%22:%22Video%22,%22Vid%22:%22{{modal.video}}%22}">
                        <img src="assets/img/medicalKnowledge/video.png" title="点击下载">)</a>
                    </nobr>
                </h2>
                <div class="backandforward" >
                    <a href="javascript:void(0);" ng-click="showMKModalBack()" ng-show="modal.isBackShow"> <i class="fa fa-fw fa-arrow-left"></i>后退</a>
                    <a href="javascript:void(0);" ng-click="showMKModalForward()" ng-show="modal.isForwardShow">  &nbsp;&nbsp;前进<i class="fa fa-fw fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="modal-body" du-scroll-container style="overflow: auto;height: 800px">
                <div class="col-xs-3" role="complementary" ng-if="modal.isNavShow !== false">
                    <ul class="nav nav-list bs-docs-sidenav affix">
                        <li ng-repeat="(dicK,dicV) in modal.content" ng-if="!(dicK==='temp'&&modal.content[dicK].length===0)">
                            <a href="#{{dicK}}" du-smooth-scroll du-scrollspy>
                                <i class="fa fa-fw fa-chevron-circle-right iconss"></i>
                                {{dicK}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-class="{true:'col-xs-9', false: 'col-md-12'}[modal.isNavShow]" ng-if="modal.table!={}">
                    <!--<div ng-if="modal.type === 'Video'" ng-class="{true: 'spinner'}[modal.isVideoLoading]">Test</div>-->
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="(tableK, tableV) in modal.table">
                                {{tableK}}
                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="(tableK, tableV) in modal.table">
                                {{tableV}}
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <div id="modalText"></div>
                    <!--<div ng-repeat="(dicK, dicV) in modal.list">
                        <h3 style="color: #3c8dbc" id="{{dicK}}">{{dicK}}</h3>
                        <div ng-repeat="item in modal.list[dicK]">
                            <div ng-switch="{{item[0]}}">
                                <div ng-switch-when="0" nowrap style="white-space: nowrap">
                                    {{item[1]}}
                                </div>
                                <div ng-switch-when="1">
                                    <a ng-click="showMKModalWithString(item[2]);">{{item[1]}}</a>
                                </div>
                                <div ng-switch-when="2">
                                    <br>
                                    <img src="http://59.110.52.133:9999/medknowledge/imageop/?q={%22Iid%22:%22{{item[1].split('/')}}%22}">
                                    &lt;!&ndash;style="width:{{item[2] > 0? item[2] : 100}}; height:{{item[3] > 0 ? item[3] : 200}}px"&ndash;&gt;
                                </div>
                                <div ng-switch-when="10"><br></div>
                                <div ng-switch-default>DEFAULT!</div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



































