<div class="navbar-inner">
    <div class="navbar-container">
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse" style="left: 0;"></div>
        <!-- /Sidebar Collapse -->
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <a ui-sref="searchStart">
                <img src="../../assets/img/newsLogo.jpg" width="36" height="36"
                     style="position: relative;left: -50px; top: 5px">
                <!--News Engine-->
            </a>

            <a ui-sref="app.mkdisease" class="navbar-brand">
                <p style="position:relative;left:200px;top: 10px">新闻数据分析</p>
                <!--<small>-->
                <!--&lt;!&ndash;<img src="assets/img/logo.png" ng-if="!settings.rtl" alt="" />&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="assets/img/logo-rtl.png" ng-if="settings.rtl" alt="" />&ndash;&gt;-->
                <!--</small>-->
            </a>
        </div>
    </div>
</div>