    <!-- Page Sidebar Header-->
<!--<div class="" style="height: 40px;background-color: #2dc3e8;color: #2dc3e8">-->
    <!--<div style="border: 1px solid #2dc3e8; height:100px; width:200px;" >-->
    <!--<input type="text" class="searchinput" />-->
    <!--<i class="searchicon fa fa-search"></i>-->
    <!--<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>-->
<!--</div>-->
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.statistic">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> 基本统计 </span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.geoDistribution">
            <i class="menu-icon glyphicon glyphicon-globe"></i>
            <span class="menu-text"> 地域分布 </span>
        </a>
    </li>
</ul>
    <!--<button class="btn btn-primary" style="position: relative;left: 20px;top: 20px;" ng-click="openOrCloseChatbot()">{{chatbotAction}}</button>-->
    <div id='botDiv' ng-style="chatbotVisStyle" style='height: 600px; position: fixed; right: 0; z-index: 999; bottom: 0'>
        <div id='botTitleBar' style='height: 38px; width: 400px; position:fixed; cursor: pointer;' ng-click="testBot()"></div>
        <!--<iframe width='400px' height='600px' src='http://59.110.52.133:3002'></iframe>-->
    </div>
<!-- /Sidebar Menu -->
