<div ng-controller="medicalKnowledgeController as mkvm">
    <form  method="get" class="navbar-form navbar-left" style="padding-left: 0">
        <div class="input-group">
            <input ng-model="mkvm.queryString" class="form-control " ng-class="{true:'itemsLoading'}[mkvm.isItemsLoading]" typeahead-min-length="0" placeholder="请输入关键词"
                   typeahead-on-select="mkvm.searchItem(mkvm.queryString)" uib-typeahead="state for state in mkvm.getStates($viewValue)" style="width:300px;">
        </div>
        <div class="form-group">
            <button ng-click="mkvm.searchItem(mkvm.queryString)" class="btn " type="button"><i class="glyphicon glyphicon-search"></i> 搜 索</button>
        </div>
        <div class="form-group" ng-if="mkvm.isListShow === true">
            <button class="btn " type="button" ng-click="mkvm.back2Table()"><i class="glyphicon glyphicon-backward"></i>返回表格</button>
        </div>
        <div class="form-group" ng-if="mkvm.isListShow === false && !!mkvm.listItems">
            <button class="btn " type="button" ng-click="mkvm.back2List()">返回表格<i class="glyphicon glyphicon-forward"></i></button>
        </div>
    </form>
    <div class="row" >
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">表格</span>
                    <div class="widget-buttons">
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div ng-if="mkvm.isListShow === false">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th ng-repeat="(tDataK, tDataV) in mkvm.tableData[0]" ng-class="{true:'asc', false:'desc'}[mkvm.orders[tDataK]]"
                                    ng-if="tDataK !== 'Id'" ng-click="mkvm.changeOrder(tDataK)">
                                    &nbsp;&nbsp;{{tDataK}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="(tDataK, tDataV) in mkvm.tableData[0]" ng-if="tDataK !== 'Id'" ng-click="">
                                    <input type="text" ng-model="mkvm.filters[tDataK]" class="form-control" placeholder="{{tDataK}}过滤" ng-change="mkvm.filter()">
                                </td>
                            </tr>
                            <tr ng-repeat="item in mkvm.tableData" ng-click="mkvm.showdetails(mkvm.currentType, item.Id)">
                                <td ng-repeat="(tDataK, tDataV) in mkvm.tableData[0]" ng-if="tDataK !== 'Id'">
                                    {{item[tDataK].substring(0,50)}}<nobr ng-if="item[tDataK].length > 50">...</nobr>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="mkvm.isListShow === true">
                        <div class="stripe row_border hover" cellspacing="0" role="grid">
                            <div id="content-round" ng-repeat="item in mkvm.listItems" class="btn btn-lg content-block-my mkListItemsBackground"
                            ng-click="mkvm.showdetails(item.Con.Table.toLocaleLowerCase(), item.Con.Id)">
                                <li class="news-item">
                                    <div class="news-info" style="overflow: hidden">
                                        <table title="{{item.Con.Name}}" class="stripe row_border hover" cellspacing="0" >
                                            <tbody>
                                                <tr class="mkListItemsBackground">
                                                    <td width="30px">
                                                        <div class="fl " style="width: 30px" ng-if="!!item.Con">
                                                            <img src="assets/img/medicalKnowledge/{{item.Con.Table}}.png" class="type-logo">
                                                        </div>
                                                    </td>
                                                    <td width="120px">
                                                        <div class="fl " style="width: 120px">
                                                            <div class="news-date" >
                                                                <p class="data-first">
                                                                    {{item.Con.Name.substring(0, 5)}}
                                                                    <nobr ng-if="item.Con.Name.length > 5">...</nobr>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="">
                                                        <p class="info-content" ng-repeat="(itemK, itemV) in item.Var">
                                                            {{itemV.substring(0, 60)}}
                                                            <nobr ng-if="itemV.length > 60">...</nobr>
                                                        </p>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </div>
                    <nav style="margin-top:10px;text-align:center">
                        <ul class="pagination">
                            <li ng-class="{disabled:mkvm.currentPage === 1}" ng-click="mkvm.changePage(mkvm.currentPage - 1)"><a  aria-label="Previous" ><span aria-hidden="true">上一页</span></a></li>
                            <li ng-class="{active:$index === mkvm.currentPageIndex}" ng-repeat="page in mkvm.pages" ng-click="mkvm.changePage(page)"><a >{{page}}</a></li>
                            <li ng-class="{disabled:mkvm.currentPage === mkvm.totalPages}" ng-click="mkvm.changePage(mkvm.currentPage + 1)"><a  aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                        </ul>
                    </nav>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <!-- /.box-header -->
                                <div class="box-body">


                                    <div class="g-layout-content">
                                        <div class="container">
                                            <ul class="news-list" id="elasticDataShow">
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="example1" class="stripe row_border hover" cellspacing="0" width="100%">

                                    </table>

                                    <ul class="pagination" id="pagination">

                                    </ul>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    <!--<div ng-grid="gridOptions" style="min-height:500px; overflow-x:hidden;"></div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title" id="myModalLabel">

                </h4>
            </div>
            <div class="modal-body">

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>