<div ng-controller="searchStartController as ssc">
    <div class="container" style="position: relative;margin-top: 15%;">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <h2>LOGO here</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search start here" />
                        <span class="input-group-btn">
                        <button class="btn btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!--<div class="loginbox bg-white">-->
        <!--&lt;!&ndash;<div class="loginbox-title">登 陆</div>&ndash;&gt;-->
        <!--<div class="loginbox-textbox">-->
            <!--<input type="text" class="form-control" ng-model="vm.credentials.username" placeholder="用户名" />-->
        <!--</div>-->
        <!--<div class="loginbox-textbox">-->
            <!--<input type="password" class="form-control" ng-model="vm.credentials.password" placeholder="密码" />-->
        <!--</div>-->
        <!--<div class="loginbox-submit">-->
            <!--<input type="button" class="btn btn-primary btn-block" value="Login" ng-click="vm.onSubmit()">-->
        <!--</div>-->
    <!--</div>-->
    <!--<input id="searchStartBar" type="text" name="search" placeholder="Search..">-->
</div>