<div class="row" ng-controller="statiticController">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget dashboard">
                    <div class="widget-header">
                        <span class="widget-caption">统计图</span>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div id="statisticTypeNum" style="width: 100%;height:600px;"></div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <div id="statisticTimeNum" style="width: 100%;height:600px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>