<link rel="stylesheet" href="../../styles/local.css"/>
<div ng-controller="userCtrl">

    <div class="row">
        <div class="col-md-6">
    <div class="input-group pull-right global-search">
    <label class="input-group-addon">搜索</label>
    <input type="text" class="form-control" ng-model="vm.filter.$"/>
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header">
                <!--<i class="widget-icon fa fa-arrows-v blue"></i>-->
                <span class="widget-caption">用户信息管理</span>
                <div class="widget-buttons">
                    <a href="" widget-config></a>
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body">
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
            ng-class="{sortable: column.sortable !== false}">
            {{column.label}}
            <i ng-if="column.name === vm.sort.column && vm.sort.direction"
               class="glyphicon {{vm.sort.direction|orderClass}}"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>
        <td><input type="text" ng-model="vm.filter.id" class="form-control"/></td>
        <td><input type="text" ng-model="vm.filter.name" class="form-control"/></td>
        <td><input type="number" ng-model="vm.filter.followers" class="form-control"/></td>
        <td><input type="number" ng-model="vm.filter.income" class="form-control"/></td>
    </tr>-->
    <tr ng-repeat="item in vm.items|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm.page.index:vm.page.size">
        <td>
            {{item.name}}
        </td>
        <td>
           {{item.email}}
        </td>
        <td>
           <!-- <span ng-if="!item.$editing">{{item.authority}}</span>
            <span class="btn btn-primary btn-xs pull-right" title="编辑" ng-if="!item.$editing"
                  ng-click="item.$editing = true">
          <i class="glyphicon glyphicon-pencil"></i>
        </span>
        <span class="btn btn-primary btn-xs pull-right" title="保存" ng-if="item.$editing"
              ng-click="item.$editing = false;vm.AddChangedItems(item);vm.ShowItems()">
          <i class="glyphicon glyphicon-floppy-disk"></i>
        </span>
            <input type="text" class="form-control" ng-model="item.authority" ng-if="item.$editing"/>-->

            <label>
                <select class="form-control" ng-model="item.authority" ng-options="auths for auths in vm.Authority" ng-click="vm.AddChangedItems(item);vm.ShowItems()">
                    <option value="">-- 请选择用户权限 --</option>
                </select></label>
        </td>

        <td>
        <span class="btn btn-primary btn-xs" title="删除用户" data-toggle="modal" data-target="#myUser" ng-click="vm.SelectedUser(item)" ng-mouseenter="item.popover=true"
              ng-mouseleave="item.popover=false">
            <i class="glyphicon glyphicon-remove"></i></span>

            <div class="modal fade"  id="myUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">删除用户</h4>
                        </div>
                        <div class="modal-body" style="height: 60%">你确定要删除用户{{vm.SelectUser.name}}吗？</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="vm.DeleteUser(vm.SelectUser)" data-dismiss="modal" >确定</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

        </td>
    </tr>
    </tbody>
</table>
                <br>
<div class="row">
    <div class="col-md-3">
        <select ng-model="vm.page.size" class="form-control" title="每页条目数"
                ng-options="pageSize for pageSize in [5, 20, 100]">
        </select>
    </div>

    <div class="col-md-1">
        <span class="btn btn-primary btn-xs" title="提交" data-toggle="modal" data-target="#createUser" ng-mouseenter="item.popover=true"
              ng-mouseleave="item.popover=false" ng-click=""><i>增加用户</i></span>
    </div>
    <div class="modal fade"  id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新增用户</h4>
                </div>
                <div class="modal-body" style="height: 60%">
                    <dl>
                        <h4>用户名</h4>
                        <input type="text" class="form-control" ng-model="vm.NewUser.name"/>
                        <h4>邮箱</h4>
                        <input type="text" class="form-control" ng-model="vm.NewUser.email"/>
                        <h4>密码</h4>
                        <input type="text" class="form-control" ng-model="vm.NewUser.password"/>
                        <h4>权限</h4>
                        <label>
                            <select class="form-control" ng-model="vm.NewUser.authority" ng-options="auths for auths in vm.Authority" ng-click="vm.AddChangedItems(item);vm.ShowItems()">
                                <option value="">-- 请选择用户权限 --</option>
                            </select></label>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="vm.CreateNewUser()" data-dismiss="modal" >确定</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <uib-pagination total-items="vm.items|filter:vm.filter|size" ng-model="vm.page.index" max-size="5"
                    items-per-page="vm.page.size"
                    class="pagination-sm pull-right" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"></uib-pagination>
    </div>
    <div class="col-md-1">
        <span class="btn btn-primary btn-xs" title="提交" ng-mouseenter="item.popover=true"
              ng-mouseleave="item.popover=false" ng-click="vm.PostUsers()"><i>保存</i></span>
    </div>
</div>

        </div>
        </div>
            </div>
    </div>
</div>

